---
import Layout from "@components/layout.astro";

type Uni = {
  name: string;
  logo_uni: string;
  logo_os: string;
  link: string;
};

const universities: Uni[] = [
  {
    name: "usach",
    logo_uni: "/img/usach.png",
    logo_os: "/img/osusach.png",
    link: "https://osec.cl/usach-redirect.html",
  },
  {
    name: "puc",
    logo_uni: "/img/puc.png",
    logo_os: "/img/osuc.png",
    link: "https://osec.cl/puc-redirect.html",
  },
  {
    name: "uch",
    logo_uni: "/placeholder.svg",
    logo_os: "/placeholder.svg",
    link: "https://osec.cl/uch-redirect.html",
  },
];
---

<Layout>
  <main class="mx-auto flex w-fit flex-col items-center gap-10">
    <nav class="mt-2 flex w-full items-center justify-around">
      <h1 class="text-4xl font-semibold">OSEC</h1>
      <span class="flex items-center gap-2">
        <button class="h-fit rounded-lg bg-blue-600 px-4 py-2 text-white"
          >Proyectos</button
        >
        <img src="/github_logo.svg" alt="" class="size-12" />
      </span>
    </nav>

    <article class="w-1/2 text-center mt-20">
      <h2 class="text-4xl font-semibold">
        Open Source <br />
        <p class="text-blue-600">Estudiantes de Chile</p>
      </h2>
      <p class="text-2xl">
        Iniciativa inter-universitaria en la que estudiantes de carreras
        asociadas a la computación puedan colaborar en proyectos de código
        abierto
      </p>
    </article>

    <h2 class="text-4xl mt-20">Participantes</h2>
    <div class="flex gap-4">
      {
        universities.map((uni: Uni) => (
          <a
            class="flex w-16 flex-col items-center gap-2 border p-4 hover:ring"
            href={uni.link}
          >
            <h2>{uni.name}</h2>
            <img
              class="size-full"
              src={uni.logo_uni}
              alt={uni.name + " logo"}
            />
            <img
              class="size-full"
              src={uni.logo_os}
              alt={uni.name + "os organization logo"}
            />
          </a>
        ))
      }
    </div>
  </main>
</Layout>
