---
import Socials from "./Socials.astro";
---

<section class="flex flex-col gap-12 p-12 text-center">
  <header
    class="bg-gradient-to-r from-[#26A5E4] to-[#5865F2] bg-clip-text text-4xl font-semibold text-transparent"
  >
    ¡Sé parte de la comunidad!
  </header>
  <Socials />
</section>
