---
import Discord from "./icons/Discord.astro";
import Telegram from "./icons/Telegram.astro";
import SocialButton from "./SocialButton.astro";
---

<main class="flex flex-row items-center justify-center gap-10">
  <SocialButton link="https://t.me/+T1j-FnqQdjplNWIx">
    <Telegram />
  </SocialButton>
  <SocialButton link="https://discord.gg/S2un7nCEyS">
    <Discord />
  </SocialButton>
</main>
